<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%block name="title">${_("Studio Server Error")}</%block>
<%block name="bodyclass">view-util util-500</%block>

<%block name="content">
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_("The <em>Studio</em> servers encountered an error")}</h1>
    </header>
    <article class="content-primary" role="main">
      <p>
      500!
      </p>
    </article>
  </section>
</div>
</%block>
