<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%page args="online_help_token"/>
<div class="wrapper-sock wrapper">
  <ul class="list-actions list-cta">
    <li class="action-item">
      <a href="#sock" class="cta cta-show-sock"><i class="icon-question-sign"></i> <span class="copy">${_("Looking for help with Studio?")}</span></a>
    </li>
  </ul>

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock">
      <header>
        <h2 class="title sr">文档</h2>
      </header>

      <div class="support">
	      <h3 class="title">文档</h3>

        <div class="copy">
           <p>您可以点击页面右上角的‘帮助’链接获取更多关于当前页面的信息</p>
        </div>

      <ul class="list-actions">
          <li class="action-item js-help-pdf">
	  <a href="#" target="_blank" rel="external" class="action action-primary">注册并开始创建一个在线课程</a>
          </li>

        <li class="action-item">
        <a href="#" rel="external" class="action action-primary">作者支持</a>
          <span class="tip">作者支持</span>
        </li>
        <li class="action-item">
	<!-- <a href="#" rel="external" class="action action-primary"></a>
          <span class="tip">${_("How to use edX Studio to build your course")}</span>
	  --> </li>
      </ul>
      </div>

      <div class="feedback">
        <h3 class="title">获取帮助</h3>

        <div class="copy">
           <p>有问题，疑问或是建议？</p>
        </div>

        <ul class="list-actions">
          <li class="action-item">

            <a href="#" class="#" title="${_("Use our feedback tool, Tender, to share your feedback")}"><i class="icon-comments"></i>${_("Contact Us")}</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
